*{
    margin: 0px;
    padding: 0px;
}

#root{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.uploder{
    height: 60%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username{
    width: 70%;
    height: 8vh;
}

.img-box{
    height: 35vh;
    width: 25vw;
    background-color: #cdcdcd;
    border: 1.7px dotted #646464;
}

#photo{
    opacity: 0;
}

.username-label{
    color: #646464;
    margin-right: 22vw;
}

.photo-label{
    color: #646464;
    margin-right: 22vw;
    margin-top: 2vh;
}

.upload-btn{
   height: 8vh;
   width: 25.5vw;
   background-color: #0500FF;
   color: white;
   border: 1px black;
   border-radius: 5px;
   margin-top: 3vh;
}

.view-btn{
    margin-top: 2vh;
    margin-right: 3vw;
   height: 8vh;
   width: 10vw;
   position: absolute;
   background-color: white;
   color: #0500FF;
   border: 2px solid #0500FF;
   border-radius: 5px;
   top: 0;
   right: 0;
}

.close-btn{
    margin-top: 2vh;
    margin-right: 3vw;
   height: 8vh;
   width: 10vw;
   position: absolute;
   background-color: white;
   color: #0500FF;
   border: 2px solid #0500FF;
   border-radius: 5px;
   top: 0;
   right: 0;
}

#hidden-bar{
    opacity: 100;
    display: none;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 40vw;
    background-color: white;
}


.hidden-bar-uploder{
    display: flex;
    justify-content: center;
    align-items: center;
}